* {
  --palette-darkest: #00202e;
  --palette-dark: #003f5c;
  --palette-blue: #2c4875;
  --palette-purple: #8a508f;
  --palette-pink: #bc5090;
  --palette-salmon: #ff6361;
  --palette-orange: #ff8531;
  --palette-yellow: #ffa600;
  --palette-light: #ffd380;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: 2px 1px 1px #000;
  border: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
html,
body,
#app {
  height: 100vh;
}
